.login-margin {
    margin-top: 80px;
}
img{
    height: 100px;
    width: 150px;
}
.logo img {
    height: 70px;
    width: 100px;
    margin-top: -18px;
}
.login-logo{
	text-align: center;
	display: block;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: 1;
  border-radius: .2rem;
}


thead.bg-color {
    background-color: lavender;
}
.card {
    background-color: mintcream;
}
.modal-content {
  background-color: mintcream;
}
.alert-danger {
    background-color: #F9C9BE;
    border-color: whitesmoke;
    padding-bottom: initial;
}
.error-msg {
  color: red;
}
.mesg-error {
  color: red;
}
.alert-success.success {
    background-color: #D6FDD4;
    border-color: whitesmoke;
    padding-bottom: initial;
}
/*......DataTable field css.....*/
div#position_table_length {
    padding-top: 12px;
}
/*..............................*/

/*....Select field css......*/
span.select2-selection.select2-selection--single {
    height: 40px;
}
span#select2-location-container {
    line-height: 40px;
}
/*..........................*/
.admin-logo {
  height: 73px;
}

footer.footer {
    height: 1px;
    padding-top: 1px;
    line-height: 1px;
}